body{
    background-color: rgb(236, 234, 226);
}

header{
    position: fixed;
    background-color: #f5f7f8;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 40px;
}

h3{
    margin-left: 30%;
}

h3 :hover{
    color: rgb(3, 233, 22);
}

a{
    text-decoration: none;
    color: black;
}

h3 a{
    padding-left: 8%;
}

h1{
    margin-top: 5%;
}

div a{
    margin-top: 10;
}

div.please{
    margin-top: 8%;
    margin-left: 17%;
}

div.e{
    margin-left: 41%;
    margin-top: 0%;
}

div.p{
    margin-left: 41%;
    margin-top: 1%;
}

div.l{
    margin-left: 45%;
    margin-top: 2%;
}

button.b{
    background-color: red;
    margin-left: -3%;
}

button.b:hover{
    background-color: rgb(66, 233, 16);
}

div.login{

}